.container{
    height: 100%;
}

.profiles{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.message{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;

}

.user {
    border-radius: 200px;
    width: 400px !important;
    height: 400px !important;
}

.logo{
    width: 300px !important;
    height: 300px !important;
    margin-top: 20px;
}

.explain{
    width: 1000px;
    margin: 0px 100px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    flex-direction: column;
}

.att{
    font-weight: bold !important;
    color: red !important;
    font-size: 18px;
}
.account{
    margin: 10px;
    background-color: azure;
    text-align: center;
    border-radius: 10px;
}
.my{
    color: green;
}